@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'liga' on; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  transition: background 1.5s ease;
  color: #181818;
  background: #8E908F; }

.site {
  width: 88.88889%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto; }

a {
  transition: border 500ms ease;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(192, 192, 192, 0); }

a:hover {
  border-bottom: 1px solid silver; }

header {
  font-family: 'Helvetica';
  font-size: 72px;
  font-weight: bold;
  margin-top: 32px; }

.intro {
  font-family: 'Helvetica';
  font-size: 72px;
  font-weight: bold;
  line-height: 1.07;
  margin-top: 64px;
  letter-spacing: -1.8px;
  word-wrap: break-word;
  color: #FFF; }

.info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  list-style: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1.5em;
  margin-top: 2em;
  word-wrap: break-word; }
  .info > * {
    padding: 1rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
    @media (min-width: 32em) {
      .info > * {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        max-width: 50%; } }
    @media (min-width: 65em) {
      .info > * {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
        max-width: 25%; } }

li:hover:after {
  content: "→";
  margin-left: .2em;
  transition: margin 0.1s; }

li:visited {
  color: inherit; }

.footer {
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-size: 14px;
  font-weight: bold; }
