<section class="info">
  <div class="info__block">  
    {% for item in site.data.data.info %}
    <p>{{ item.bio }}</p>
    {% endfor %}
  </div>
  <div class="info__block">
  {% for item in site.data.data.info %}
    <p>{{ item.bio2 }}</p>
    {% endfor %}
  </div>
  <div class="info__block">
    <h3>View my recent projects:</h3>
    <ul>
      {% for item in site.data.data.projects %}
      <li><a href="{{ item.url }}"  target="_blank">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="info__block">
    <h3>Follow me:</h3>
    <ul>
      {% for item in site.data.data.social %}
      <li><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>