<div class="info">
  <div class="whatever">I am a Front-End Developer & Designer liviing in Seattle, WA with experience developing e-commerce solutions and managing complex media projects.</div>
  <div class="whatever">I am adept at mastering new skill-sets aimed to solve company problems and create new opportunities for growth.</div>
  <div class="whatever">
    <h3>View my recent projects:</h3>
    <ul>
      <li>Vice Grip</li>
      <li>Whack-a-Mole Game</li>
      <li>Mapper</li>
      <li>BestOf Spotify</li>
    </ul>
  </div>
  <div class="whatever">
    <h3>Follow me on my networks:</h3>
    <ul>
      <li><a href="https://twitter.com/sskylar">Behance</a></li>
      <li>LinkedIn</li>
      <li>Resume</li>
    </ul>
  </div>
</div>