<div class="info">
  <div>  
    {% for item in site.data.data.info %}
    <p>{{ item.bio }}</p>
    {% endfor %}
  </div>
  <div>
  {% for item in site.data.data.info %}
    <p>{{ item.bio }}</p>
    {% endfor %}
  </div>
  <div>
    <h3>View my recent projects:</h3>
    <ul>
      {% for item in site.data.data.projects %}
      <li><a href="{{ item.url }}" >{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3>Follow me:</h3>
    <ul>
      {% for item in site.data.data.social %}
      <li><a href="{{ item.url }}" >{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>