@include font-face('Helvetica Served', '../fonts/HelveticaNeue-Bold');

.header {
  font-family:  Helvetica, 'Helvetica Neue','Helvetica Served', Arial, sans-serif;;
  font-size: 3.75rem;
  font-weight: bold;
  margin-top: 1.75rem;

  @media (max-width: 46em) {
    font-size: 2.62rem;
  }
  @media (max-width: 36em) {
    font-size: 2rem;
  }
}