.info {
  @include flex-grid(1, 2, 4, $pad: 1rem);
  line-height: 1.5em;
  margin-top: 2.5em;
  word-wrap: break-word;

  @media (max-width: 36em) {
    font-size: 14px;
    line-height: 1.3em;
  }
}


li {

  &:hover:after {
    content: "→";
    margin-left: .2em;
    transition: margin 0.5s;  
  }
  &:visited {
    color: inherit;
  } 
}
