.info {
  @include flex-grid(1, 2, 4, $pad: 1rem);
  line-height: 1.4rem;
  margin-top: 1.5rem;
  word-wrap: break-word;


  @media (max-width: 36em) {
    font-size: .875rem;
    line-height: 1.3rem;
  }
}


li {

  &:hover:after {
    content: "→";
    margin-left: .2rem;
    transition: margin 0.5s;  
  }
  &:visited {
    color: inherit;
  } 
}
