.intro {
  font-family: 'Helvetica';
  font-size: 60px;
  font-weight: bold;
  line-height: 1.07;
  margin-top: 70px;
  letter-spacing: -1.8px;
  word-wrap: break-word;
  color: #FFF;

  @media (max-width: 36em) {
    font-size: 32px;
  }
}
